.mainLogin{
    position: relative;
    left: 33vw;
    margin-top: 60px;
}
.logins {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 674px;
    height: 742px;
    background-color: black;
    border-radius: 30px 50px 30px 50px;
    color:white;
    position: absolute;
    z-index: 950;
    
}

.Logo {
    margin-top: 100px;
}

.Logo img {
    width: 492px;
    margin-bottom: -20px;
}



.backSquare {
    width: 674px;
    height: 742px;
    background: rgb(63,251,72);
    background: radial-gradient(circle, rgba(63,251,72,1) 92%, rgba(72,83,72,1) 100%);
    position: absolute;
    z-index: 900;
    border-radius: 30px;
    box-shadow: 15px 15px 20px 3px rgba(0, 0, 0, 0.7);
}

.inputs {
    margin-top: 100px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.inputs input {
    border: black;
    width: 355px;
    height: 48px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 4px 4px black;
    margin-left: 20px;
    margin-bottom: 50px;
    font-size: 30px;
    font-family: "Suisse Int'l";
    text-align: center;    
}

.buttons {
    width: 355px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.buttons button{
    width: 150px;
    height: 65px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 4px 4px black;
    font-size: 30px;
    font-family: "Suisse Int'l";
    color: white;
    background: rgb(63,251,72);background: radial-gradient(circle, rgba(63,251,72,1) 0%, rgba(59,187,59,1) 100%);
    margin-bottom: 40px;
}

.buttons button[name="clear"]{
    background: rgb(8,26,122);
    background: radial-gradient(circle, rgba(8,26,122,1) 0%, rgba(75,193,255,1) 100%);
}